.footer {
  padding: 50px 0 20px 0;
  background-color: #35404f;
  color: #878c94;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .title {
  text-align: left;
  color: #fff;
  font-size: 25px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
}
.footer .payment {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.footer .payment li {
  list-style-type: none;
}
.footer .payment li a {
  text-decoration: none;
  color: #fff;
  float: left;
  font-size: 25px;
  padding: 10px 10px;
}
.footer__buy_with_meta_mask {
  width: 240px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  opacity: 0.8;
}

.footer__buy_with_meta_mask img {
  width: 100%;
}
.footer__buy_with_meta_mask:hover {
  opacity: 1;
  transform: translateY(-5px);
}

.payment-div {
  width: 25%;
}
@media screen and (max-width: 1054px) {
  .payment-div {
    width: 50%;
  }
}
@media screen and (min-width: 1221px) {
  .footer__container {
    max-width: 1200px;
    padding: 0px 40px;
  }
}
