.productdetail__back-button {
  width: 50px;
  height: 50px;
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.904);
  color: black;
  z-index: 1;
  border-radius: 2px;
  cursor: pointer;
  position: fixed;
  transition: all 0.2s ease;
}
.productdetail__back-button:hover {
  background-color: rgb(221, 221, 221);
}
.productdetail__product-detail-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.productdetail__product-detail-area__container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}
.productdetail__product-detail-area__container__image {
  /* max-width: 500px;/ */
  flex: 0.5;
  padding: 20px;
}
.productdetail__product-detail-area__container__image img {
  width: 100%;
}
.productdetail__product-detail-area__container__products-text {
  flex: 0.5;
  /* width: 100%; */
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productdetail__product-detail-area__container__products-text h3 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #222;
  margin-bottom: 20px;
  line-height: 1.1;
}

.productdetail__product-detail-area__container__products-text h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #384aeb;
  margin-bottom: 10px;
}

.productdetail__product-detail-area__container__products-text h2 {
  padding-top: 20px;
  border-top: 1px dotted #eeeeee;
  border-bottom: 1px dotted #eeeeee;
  margin-top: 20px;
  padding-bottom: 26px;
  margin-bottom: 0;
}
.buy-button {
  padding: 10px 20px;
}
@media screen and (max-width: 991px) {
  .productdetail__product-detail-area__container {
    flex-direction: column;
  }
  .productdetail__product-detail-area__container__image {
    width: 100%;
    padding: 20px 50px;
    max-width: 990px;
  }
}

/*---------- Ratings --------*/
.productdetail__product-review-area {
  width: 100%;
  display: flex;
  justify-content: center;
}
.productdetail__product-review-area__container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}
.productdetail__product-review-area__container__content {
  display: flex;
}
.productdetail__product-review-area__container__content__reviews {
  flex: 0.5;
}
.productdetail__product-review-area__container__content__create-review-box {
  flex: 0.5;
}
.productdetail__product-review-area__container__content__reviews__overallreview {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 90px;
}
.overallreview-container {
  width: 100%;
  height: 100%;
  background: #f1f6f7;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Oswald", sans-serif;
}
.overallreview-container h5 {
  color: #333333;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 1.1;
}
.overallreview-container h4 {
  font-size: 48px;
  font-weight: bold;
  color: #384aeb;
  line-height: 1.3;
}
.overallreview-container h6 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0px;
  font-size: 14px;
  color: #555555;
  font-weight: normal;
}

/* .productdetail__product-review-area__container__content__reviews__all-reviews {
  overflow-y: scroll;
} */

.productdetail__product-review-area__container__content__reviews__all-reviews__review-card {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.667;
  display: flex;
  flex-direction: column;
}
.review-card__name_details {
  display: flex;
  width: 100%;
  padding: 10px;
}
.review-card__name_details__image {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-card__name_details__image img {
  width: 100%;
  border-radius: 50%;
}
.review-card__name_details__name {
  font-family: "Oswald", sans-serif;
  color: black;
  width: 100%;
  padding: 5px 10px;
  line-height: 1.3;
}

.review-card__name_details__name__date {
  padding-left: 30px;
}
.review-card__review-text {
  padding: 20px;
}
.set-stars {
  cursor: pointer;
}
.set-stars:hover {
  color: #fb9700;
}
.yellow {
  color: #fbd600;
}
.productdetail__product-review-area__container__content__create-review-box {
  padding-left: 20px;
}
.productdetail__product-review-area__container__content__create-review-box h4 {
  font-size: 20px;
  color: #222;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}
.productdetail__product-review-area__container__content__create-review-box
  input,
.productdetail__product-review-area__container__content__create-review-box
  textarea {
  margin: 10px;
}

@media screen and (max-width: 900px) {
  .productdetail__product-review-area__container__content {
    flex-direction: column-reverse;
  }
  .productdetail__product-review-area__container__content__create-review-box {
    padding: 20px 50px;
  }
}
